:root{
	--mainColor: #009688;
	--background:  #1c0b2d;
	--font: 'Work Sans', sans-serif;
}
html{
	width:100%;
	height:100%;
	color: white;
	background: var(--background);
	transition: all .5s;
	font-family: var(--font);
	   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
#options{
	position:fixed;
	border: 1px solid white;
	border-radius: 10px;
	padding: 2px;
}
body{
	height: -webkit-fill-available;
	max-height: 90vh;
	width: -webkit-fill-available;
}
canvas{
	box-shadow: 0 0 5vw black;
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 20px double black;
	border-radius: 30px;
	transition: all .5s;
	
}
#score{
	text-align: center;
	position: relative;
	color: black;
	
	font-size: 160%;
	border: 6px ridge black;
	border-radius: 10px;
	margin-top: 0.1vh;
	margin-bottom: 6vh;
	margin-right: 35vw;
	margin-left: 35vw;
	transition: all .5s;
}
footer, i{
	 font-size: 160%;
	  position: fixed;
	  left: 0;
	  bottom: 8vh;
	  width: 100%;
	  background-color: var(--background);
	  color: white;
	  text-align: center;
	  font-family: inherit;
	  font-family: var(--font);
}
a{
	height: min-content;
	width: min-content;
}