html{
	width:100%;
	height:100%;
	color: white;
	background: #1c0b2d;
	transition: all .5s;
}

body{
	height: -webkit-fill-available;
	max-height: 90vh;
	width: -webkit-fill-available;
}
canvas{
	padding: 0;
	margin: auto;
	display: block;
	width: 50vw;
	height: 50vw;
	max-width: 600px;
	max-height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 3px solid #009688;
	border-radius: 30px;
	
}
div{
	text-align: center;
	position: relative;
	color: #009688;
	font-family:'Work Sans', sans-serif;
	font-size: 160%;
	border: 6px ridge #009688;
	border-radius: 10px;
	margin-top: 8vh;
	margin-right: 35vw;
	margin-left: 35vw;
}